
<h1> Allocate your stats!</h1>
<div class="point-buy">
  <form [formGroup]="pointBuyForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <p>Give a name!</p>
          <strong>
            <input type="text" formControlName="name" value="$event.target.value"/>
          </strong>

          <p>Select a Race!</p>

          <strong>
            <select name="classChosen" formControlName="race" (change)="loadTraits($event.target.value);loadLanguages($event.target.value)">
              <option value="Null" disabled hidden></option>
              <option [ngValue]="races.name" *ngFor="let races of dndRace; let i = index" [attr.data-index]="i" value="{{races.name}}">{{races.name}}</option>
            </select>
          </strong>

          <p>Race Attributes:</p>

          <ul>
            <li *ngFor="let traits of raceTraits" title="{{traits.traitDesc}}">{{traits.traitName}}</li>


          </ul>


          <br />
          <br />
        </div>
        <div class="col-sm-10">
          <strong>Allocate points</strong>
          <br />
          <br />
          <div class="container">
            <div class="row">
              <div class="point-allocation">
                <div class="col-sm-6">
                  <div>

                    <div><label>Str</label><input type="number" min="8" max="15"  (change)="calculatePointBuy($event.target.value,'str')" value=8 /></div>
                    <div><label>Dex</label><input type="number" min="8" max="15" (change)="calculatePointBuy($event.target.value,'dex')" value="8" /></div>
                    <div><label>Con</label><input type="number" min="8" max="15" (change)="calculatePointBuy($event.target.value,'con')" value="8" /></div>

                  </div>

                </div>
                <div class="col-sm-6">

                  <div><label>Int</label><input type="number" min="8" max="15" (change)="calculatePointBuy($event.target.value,'int')" value="8" /></div>
                  <div><label>Wis</label><input type="number" min="8" max="15" (change)="calculatePointBuy($event.target.value,'wis')" value="8" /></div>
                  <div><label>Cha</label><input type="number" min="8" max="15" (change)="calculatePointBuy($event.target.value,'cha')" value="8" /></div>

                </div>

                <br />
                <br />
                <strong><p>Point Buy: {{currentPoints}} / 27</p></strong>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <input type="submit" value="Continue" (click)="onSubmit()" class="btn-light" [routerLink]='["/class"]'>

  </form>
</div>
<br />
<!--<a [routerLink]='["/fetch-data"]' (click)='collapse()'>
-->
